<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <title>상세 보기</title>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>

    <th:block layout:fragment="css"><link href="/css/details.css" rel = "stylesheet"></th:block>
</head>

<body>

<!--첫번째 section-->
<!--TODO 상태, UP고치기-->
<section class="flex-container" id="details-first">
    <div style="flex-grow: 1">
        <img src="" width="110" height="110" id="webtoonImage">
    </div>
    <div style="flex-grow: 9" class="webtoon-details">
        <div style="flex-grow: 1" class="details-title">
            <span class="badge badge-pill badge-primary">연재중</span>
            <span class="badge badge-pill badge-made badge-update-state hide-badge">UP</span>
        </div>
        <div style="flex-grow: 1" class="details-title">
            <img class="icon" id="heart-icon" src="/icon/heart_none_select.png">
            <p id="webtoon-subscription"><!--웹툰 구독자수--></p>
        </div>
        <div style="flex-grow: 1" class="details-title">
            <h2 id="webtoon-title"> <!--웹툰 제목--> </h2>
        </div>
        <div style="flex-grow: 1" class="details-author">
            <h3>연재요일</h3>
            <div class="h3-p" id="webtoon-days"> <!--웹툰 요일--> </div>
        </div>
        <div style="flex-grow: 1" class="details-author">
            <h3>플랫폼</h3>
            <div class="h3-p" id="webtoon-platform"> <!--플랫폼--> </div>
        </div>
    </div>
</section>

<hr>
<!--두번째 section-->
<section id="details-second">
    <div class="details-title">
        <h3>회차</h3>
    </div>
    <div style="flex-grow: 1" class="details-author">
        <div class="h3-p" id="webtoon-totalCount"><!-- 회차 --></div>
    </div>
</section>
<hr>
<section id="details-third">
    <div class="details-title">
        <h3>작가</h3>
    </div>
    <div style="flex-grow: 1" class="details-author">
        <a href="#"><div class="h3-p" id="webtoon-author"><!--작가--></div></a>
    </div>
</section>
<hr>
<section id="details-fourth">
    <div class="details-title">
        <h3>장르</h3>
    </div>
    <div style="flex-grow: 1" class="details-author">
        <div class="h3-p" id="webtoon-genre"><!--장르--></div>
    </div>
</section>
<hr>
<section id="details-fifth">
    <div class="details-title">
        <h3>키워드</h3>
    </div>
    <div style="flex-grow: 1" class="details-author">
        <div class="h3-p" id="webtoon-keywords">
            <!--키워드-->
        </div>
    </div>
</section>
<hr>

<!--세번째 section-->
<!--TODO 이미지조정하기-->
<section id="details-sixth">
    <h3>줄거리</h3>
    <p id="webtoon-description"><!--줄거리--></p>
</section>

<section id="details-buttons">
    <!--구독상태-->
</section>


<!--ajax-->
<script>
    // 파라미터 가져오기
    var params = location.href.split("/");
    console.log("param:"+params[4]);
    var myWebtoonId;

    $.ajax({
        url: '/api/webtoons/'+ params[4],
        method: 'GET',
        async: true,
        ContentType: "application/json",
        success: function (webtoondetail) {
            console.log("검색 성공");
            console.log("UserId: " + webtoondetail.userId);
            myWebtoonId = webtoondetail.mywebtoonId;

            var author = new Array();
            var keywords = new Array();
            var genre= new Array();
            var days = new Array();

            for(var i=0; i<webtoondetail.keywords.length; i++) {
                if (webtoondetail.keywords[i].keywordType === 1) {
                    days.push(webtoondetail.keywords[i].keywordValue);
                }
                else if (webtoondetail.keywords[i].keywordType === 2){
                    genre.push(webtoondetail.keywords[i].keywordValue);
                }
                else if (webtoondetail.keywords[i].keywordType === 3){
                    author.push(webtoondetail.keywords[i].keywordValue);
                }
                else{
                    keywords.push(webtoondetail.keywords[i].keywordValue);
                }
            }


            if(webtoondetail.myWebtoon) {
                $("#heart-icon").attr('src','/icon/heart_select.png');
            }else{
                $("#heart-icon").attr('src','/icon/heart_none_select.png');
            }

            // update 뱃지
            if(webtoondetail.updateState){
                $(".badge-update-state").removeClass("hide-badge");
            }


            $("#webtoon-title").append(webtoondetail.title);
            $("#webtoon-subscription").append(webtoondetail.subscription);

            for(var i = 0; i < author.length; i++) {
                if(i===0) $("#webtoon-author").append(author[i]);
                else $("#webtoon-author").append(" "+ author[i]);
            }
            $("#webtoon-platform").append(webtoondetail.platformName);

            for(var i = 0; i < genre.length; i++) {
                // if(i>0) $("#webtoon-genre").append(" ");
                $("#webtoon-genre").append('<button class="badge badge-pill badge-secondary badge-search" onclick="location.href=\'search?key2='+genre[i]+'\'">'+genre[i]+'</button>');
            }

            for(var i = 0; i < days.length; i++) {
                if(i===0) $("#webtoon-days").append(days[i]);
                else $("#webtoon-days").append(" "+ days[i]);
            }

            for(var i = 0; i < keywords.length; i++) {
                // if(i>0) $("#webtoon-keywords").append(" ");
                $("#webtoon-keywords").append('<button class="badge badge-pill badge-secondary badge-search" onclick="location.href=\'search?key4='+keywords[i]+'\'">'+keywords[i]+'</button>');
            }

            $("#webtoon-totalCount").append(webtoondetail.totalCount);
            $("#webtoon-description").append(webtoondetail.description);


            if(webtoondetail.webtoonImageId != -1){
                console.log("웹툰 이미지 아이디"+webtoondetail.webtoonImageId);
                $("#webtoonImage").attr('src', '/webtoons/images/'+webtoondetail.webtoonImageId);
            }

            if(webtoondetail.myWebtoon) {
                var notread = $('<button type="submit" class="btn btn-primary btn-read" onclick="not_subscription();" style="background-color:gray; border: gray" id="webtoon-read">'
                    + '구독취소' + '</button>');
                notread.appendTo($('#details-buttons'));
            }else{
                var read = $('<button type="submit" class="btn btn-primary btn-read" onclick="subscription();" id="webtoon-read">'
                    + '구독하기' + '</button>');
                read.appendTo($('#details-buttons'));
            }

            var links = $('<button type="button" class="btn btn-link bnt-made" onclick="location.href=\''+ webtoondetail.link +'\'">'
                + '보러가기  </button>');
            links.appendTo($('#details-buttons'));
            // console.log(webtoondetail.link);

        },
        error: function (err) {
            console.log(err.toString());
        }
    });

    //구독하기
    function subscription() {
        var id = params[4];
        var subscription_count = Number($("#webtoon-subscription").text());
        var JSONObject = {'webtoonId': id};

        $.ajax({
            url: '/api/mywebtoons',
            method: 'post',
            async: true,
            data: JSON.stringify(JSONObject),
            contentType: "application/json",
            success: function (resp) {
                console.log(resp);
                if(resp.result === "Need Login"){
                    alert("로그인이 필요한 기능입니다.");
                }else {
                    console.log("구독 성공");
                    myWebtoonId = resp.myWebtoonId;
                    $("#heart-icon").attr('src', '/icon/heart_select.png');
                    $("#webtoon-subscription").text(subscription_count + 1);
                    $("#webtoon-read").attr("style", "background-color:gray; border: gray");
                    $("#webtoon-read").text("구독취소");
                    $("#webtoon-read").removeAttr("onclick");
                    $("#webtoon-read").attr("onclick", "not_subscription()");
                }
            },
            error: function (err) {
                console.log(err.toString());
            }
        });
    }

    //구독 취소하기
    function not_subscription() {
        var subscription_count = Number($("#webtoon-subscription").text());

        $.ajax({
            url: '/api/mywebtoons/'+myWebtoonId,
            method: 'delete',
            async: true,
            contentType: "application/json",
            success: function (resp) {
                console.log("구독 취소");
                $("#heart-icon").attr('src', '/icon/heart_none_select.png');
                $("#webtoon-subscription").text(subscription_count - 1);
                $("#webtoon-read").attr("style", "background-color:#007bff; border: #007bff");
                $("#webtoon-read").text("구독하기");
                $("#webtoon-read").removeAttr("onclick");
                $("#webtoon-read").attr("onclick", "subscription()");
            },
            error: function (err) {
                console.log(err.toString());
            }
        });
    }
</script>

</body>
</html>