<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<header th:fragment="headerFragment">
    <div id="header-row">

        <div class="dropdown" id="menu">
            <!--<button onclick="myFunction()" class="dropbtn"></button>-->
            <input class="dropbtn" type="image" src="/icon/icons8-menu.svg" onclick="myFunction()">

            <div id="myDropdown" class="dropdown-content">
                <a sec:authorize="isAnonymous()" class="menu-text" >로그인이 필요합니다.</a>
                <a sec:authorize="isAnonymous()" href="/users/login">로그인</a>
                <a sec:authorize="isAnonymous()" href="/users/join">회원가입</a>

                <a sec:authorize="isAuthenticated()" class="menu-text"><span th:text="${#authentication.principal.nickName}"></span>님 환영합니다.</a>
                <a sec:authorize="hasRole('ROLE_ADMIN')" href="/admin/search">관리자 웹툰찾기</a>
                <a sec:authorize="hasRole('ROLE_ADMIN')" href="/admin/newWebtoon">관리자 신작관리</a>
                <a sec:authorize="hasRole('ROLE_ADMIN')" href="/admin/regist/daum">다음웹툰 등록</a>
                <a sec:authorize="hasRole('ROLE_ADMIN')" href="/admin/regist">웹툰 등록</a>
                <a sec:authorize="isAuthenticated()" href="/webtoons/mywebtoons">마이 웹툰</a>
                <a sec:authorize="isAuthenticated()" href="/webtoons/searchform">웹툰 찾기</a>
                <a sec:authorize="isAuthenticated()" href="/logout">로그아웃</a>
            </div>

        </div>

        <a href="/main"><img class="logo" src="/icon/logo2.png"/></a>


    </div>
    <!--
        <nav class="navbar fixed-top navbar-light">

            <a href="/main" class = "navbar-brand"><img class="logo" src="/icon/logo2.png"/></a>

        </nav>-->

    <script>
        /* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }


    </script>

</header>

</body>
</html>