html body {
    height: 100vh;
    line-height: 0.85em;}
header {
    padding: 0px;
    border-bottom: 1px solid #E6E6E6;
    font-size: 24px;
    color: #585858;
}
/* header */
#header-row{
    height: 55px;
}
.logo{
    margin-left: 35%;
    width: 120px;
    padding-top: 10px;
}
/* menu */
.dropbtn {
    background-color: white;
    color: #3A3A3A;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    height: 50px;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: white;
}

.dropdown {
    float: right;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    text-align: center;
    height: 45px;
    border-bottom: 1px solid lightgray;
}
.menu-text{
    font-size: 14px;
    color: #3A3A3A;
}
.dropdown a:hover {background-color: #ddd;}

.show {display: block;}



