
element.style {
}
/*        웹툰상세보기 css*/
h2{
    font-size : 100%;
    text-align: left;
    padding-right: 10px;
    /*            border : 1px solid black; */
    height: 15px;
}
h3{
    font-size : 80%;
    text-align: left;
    margin-bottom: 3px;
    /*            margin-left: 5px;*/
    /*            margin: 4px;*/
    /*            border : 1px solid black; */
    /* height: px;*/
}
div> p{
    font-size: 12px;
    line-height: 20px;
    text-align: left;
    color: darkgray;
    margin: 5px;
    margin-left: 1px;
    margin-bottom: 2px;;
    /*            border : 1px solid black; */
}
p{
    font-size: 13px;
    text-align: left;
    margin-top: 2.4px;
    margin-left: 5px;
    margin-right: 4px;
    color: #585858;
    /*            border : 1px solid black;*/

}
.h3-p{
    font-size: 13px;
    line-height: 10px;
    text-align: left;
    margin-top: 2.4px;
    margin-left: 5px;
    margin-right: 4px;
    color: #585858;
    /*            border : 1px solid black;*/
}
.flex-container {
    display: flex;
    padding-top: 10px;
    /*          border: solid 1px red;*/
}
.details-title{
    display: flex;
    /*            border: solid 0.5px black;*/
}
.details-author{
    display: flex;
    margin-top: 3px;
    /*            border: solid 0.5pxs black;*/
}
.flex-container > div {
    /*          border: solid 1px red;*/
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 100px;
}
.hr{
    margin: 5px;
    padding: 0;
    border: solid 0.5px black;
}
.icon{
    margin-top: 5px;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    /*            border: solid 0.5px black;*/
}
/*        첫번째부분*/
section[id="details-first"]{
    padding: 0;
    padding-left: 10px;
    margin: 0;
    margin-top: 20px;
    /*            border: solid 0.5px red;*/
}
/*        두번째부분*/
section[id="details-second"]{
    padding: 0 20px;
    margin: 0;
    /*            border: solid 0.5px red;*/
}
section[id="details-third"]{
    padding: 0 20px;
    margin: 0;
    /*            border: solid 0.5px red;*/
}
section[id="details-fourth"]{
    padding: 0 20px;
    margin: 0;
    /*            border: solid 0.5px red;*/
}
section[id="details-fifth"]{
    padding: 0 20px;
    margin: 0;
    /*            border: solid 0.5px red;*/
}
/*        세번째부분*/
section[id="details-sixth"]{
    padding: 0 20px;
    margin-top: 10px;
    /*            border: solid 0.5px red;*/
}
/*        버튼부분*/
section[id="details-buttons"]{
    padding: 0;
    width:100%;
    margin-top: 10px;
    /*            border: solid 0.5px red;*/
    display: inline-block;
    text-align: center;
}
.btn-primary{
    margin: 0 auto;
    margin-right: 3px;
}
.btn-link{
    color: black;
    text-decoration: none;
}
.badge-pill{
    margin-right: 5px;
    height: 16px;
}
.badge-made{
    background-color: skyblue;
    color: white;
}
.bnt-made{
    border: solid 0.5px blue;
    color: black;
}
.btn-read{
    margin-right: 3px;
}
.badge-search{
    border: none;
}
.hide-badge{
    display : none;
}