
element.style {
}

a{
    /*            text-decoration: none;*/
    color:black;
}
h1{
    font-size : 200%;
    text-align : center;
    /*  border : 1px solid red; */
    margin : 10px;
    padding : 10px;
}

h3{
    font-size : 130%;
    text-align : center;
    /*            border : 1px solid black; */
    margin : 10px;
    padding : 10px;
}

div[id="webtoon-search"]{
    margin-top : 50px;
    margin-bottom : 50px;
}

.bnt-long{
    width : 100%;
    border-radius : .2rem;
    text-align: center;
    margin: 0px;
    padding: 10px;
    background-color: #17a2b8;
    color: #fff;
}


hr{
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    border-top: 1px solid lightgray;
}


section{
    /*            border: 1px solid red;*/
}
.main_webtoon{
    margin: 0;
    padding-top: 20px;
    margin-bottom: 10px;
}
.new_webtoons{
    background-color: rgba(143, 154, 168, 0.1);
}
.row{
    margin: 0 auto;
    /*            border: solid 1px blue;*/
    padding: 0px;
}
li {
    margin: 0 auto;
    /*            border: solid 1px red;*/
    list-style: none;
}
li > div {
    border: solid 1px gray;
    margin-bottom: 10px;
}
.aspect_1_1 {
    width: 80px;
    height: 80px;
}
li > p{
    text-align: center;
    width: 80px;
    height: auto;
    /*            border: solid 1px red;*/
    font-size: 12px;
}
