#result-list{
  padding: 1px;
    margin: 10px 0px;
}
.result-row{
    border-bottom: 1px solid #E6E6E6;
    height: 80px;
    padding: 14px 20px;
    list-style: none;
}
.webtoon_image{
    height: 50px;
    width: 65px;
    float: left;
    padding-top: 10px;
    margin-right: 12px;
}
.webtoon-detail{
  float: left;
}
.webtoon-title{
    margin-block-start: 0.5em;
    margin-block-end: 0.7em;
}
.webtoon-count{
  font-size: 14px;
  padding-right: 8px;
  color: #585858;
}
.webtoon-date{
  font-size: 14px;
  color: #585858;
}

/* 마이 웹툰 */
.alarm{
    height: 35px;
    width: 35px;
    float: right;
    margin-top: 5px;
}

#order-select{
    float: left;
    height: 30px;
    width: 150px;
    font-size: 12px;
    margin-right: 10px;
}

.mywebtoon-row{
    height: 80px;
}

#edit{
    padding-top: 10px;
    float: left;
    text-decoration: none;
    color: #8e8e8e;
}

.select-row{
    padding-left: 45%;
    height: 35px;
    border-bottom: #E6E6E6 double 1px;
}

.form-group{
    margin-bottom: 0.5rem;
}

.error {
    width: 250px; height: 20px; height:auto;
    position: fixed; left: 50%; margin-left:-125px;
    bottom: 100px; z-index: 9999; background-color: #3F7FBF; color: #F0F0F0;
    font-family: Calibri; font-size: 15px; padding: 10px; text-align:center;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 24px -1px rgba(63, 127, 191, 1);
    -moz-box-shadow: 0px 0px 24px -1px rgba(63, 127, 191, 1);
    box-shadow: 0px 0px 24px -1px rgba(63, 127, 191, 1);
}

