<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>AddWebtoon</title>

    <!--<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic' rel='stylesheet' type='text/css'>-->
    <link href="/css/custom.css" rel="stylesheet" type='text/css'>
    <!-- Bootstrap core CSS -->
    <link href="/webjars/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/jquery/3.3.1-2/jquery.min.js"></script>
    
    <style>
      .button {
          background-color: skyblue; /* Green */
          border: none;
          color: white;
          padding: 10px 20px;
          text-align: center;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
          float: right;
}
      input[id="a"] {
        position: relative;
        top: 11px;
      }
    </style>

    <!--[if lt IE 9]>ß
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!--Start class site-->
<div class="tz-site">
    <section class="shop-cart">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="page-title">웹툰 추가하기</h1>

                    <!--Shop info
                    <div class="shop-info">
                        <p>Returning customer? <a href="#">Click here to login</a></p>
                        <p>Have a coupon?  <a href="#">Click here to enter your code</a></p>
                    </div>
                    End shop info-->

                    <!--Start form checkout-->
                    <form>
                        <div class="shop-billing-fields">
                            
                            <p class="updateform">
                                <label for="title" class="">웹툰이름</label>
                                <input type="text" class="input-text " name="title" id="title" placeholder="" value="">
                            </p>
                            
                            <p class="updateform">
                                <label for="title" class="">작가&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                <input type="text" class="input-text " name="author" id="author"  placeholder="" value="">
                            </p>
                            
                            <p class="updateform">
                                <label for="title" class="">요일&nbsp;&nbsp;</label>
                                <input type="checkbox" id="a"> <label for="a">&nbsp;월</label>
                                <input type="checkbox" id="a"> <label for="a">&nbsp;화</label>
                                <input type="checkbox" id="a"> <label for="a">&nbsp;수</label>
                                <input type="checkbox" id="a"> <label for="a">&nbsp;목</label>
                                <input type="checkbox" id="a"> <label for="a">&nbsp;금</label>
                                <input type="checkbox" id="a"> <label for="a">&nbsp;토</label>
                                <input type="checkbox" id="a"> <label for="a">&nbsp;일</label>
                            </p>
                                                            
                            <p class="updateform">
                                <label for="title" class="">웹툰장르</label>
                                <input type="text" class="input-text " name="title" id="title" placeholder="" value="">
                                <button type="button" class="btn btn-primary btn-sm">등록</button>
                            </p>
                            
                            <p class="updateform">
                                <label for="title" class="">키워드&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                <input type="text" class="input-text " name="title" id="title" placeholder="" value="">
                                <button type="button" class="btn btn-primary btn-sm">등록</button>
                            </p>

                            <p class="updateform">
                                <label for="title" class="">링크&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                <input type="text" class="input-text " name="author" id="author"  placeholder="" value="">
                            </p>
                            
                            <p class="updateform">
                                <label>이용자&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                <select>
                                    <option>전체관람가</option>
                                    <option>15세</option>
                                    <option>18세</option>
                                </select>
                            </p>
                            
                            <p class="updateform form-row-first">
                                <label>이미지  </label>
                                <input type="file" class="input-text " name="image" id="image" placeholder="" value="">
                            </p>
                            
                            <p class="updateform notes">
                                <label>간단소개</label>
                                <textarea name="content" class="input-text " id="content" placeholder="" rows="2" cols="5"></textarea>
                            </p>
                            
                            <p class="updateform">
                                <label for="title" class="">공개회차</label>
                                <input type="text" class="input-text " name="title" id="title" placeholder="" value="">
                            </p>
                            
                            <p class="updateform">
                                <label for="title" class="">플랫폼&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                <input type="text" class="input-text " name="title" id="title" placeholder="" value="">
                                <button type="button" class="btn btn-primary btn-sm">등록</button>
                            </p>
                            
                            <button class="button">등록하기</button>
                            
                        </div>
                    </form>
                    <!--End form checkout-->

                </div>
                <div class="col-md-6">

                    

                </div>
            </div>

        </div>
    </section>

</div><!--End class site-->


</body>
</html>