<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/layout/default">
<head>
    <title>PICKTOON</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <th:block layout:fragment="css"><link href="/css/index.css" rel = "stylesheet"></th:block>

</head>
<body>

<!--헤더부분-->

<article>
    <a href="/webtoons/searchform"><button type="button" class="btn bnt-long">웹툰 검색</button></a>

    <!--신간출력 부분-->
    <section class="new_webtoons">
        <h3 class="main_webtoon">NEW WEBTOONS</h3>
        <ol class="row" id="newWebtoon_list">
          <!--신간출력-->
        </ol>
    </section>

            <script>
                $.ajax({
                    url:'/api/newwebtoons',
                    method:'GET',
                    async:true,
                    ContentType: "application/json",
                    success: function (newWebtoon) {
                        console.log("검색 성공");
                        for(var i = 0; i < 3; i++) {
                            var newWebtoons = $('<li>' +
                                '<div class="aspect_1_1">' +
                                '<a href="/webtoons/'+ newWebtoon[i].webtoonId + '">' +
                                '<img src="http://shrkss.com/app/dubu_board/docs/imgs/e/lg_e15277300888118_%EC%9D%B4%EB%AF%B8%EC%A7%80_%EC%A4%80%EB%B9%84%EC%A4%912.jpg"' + <!--TODO 이미지 가져오기-->
                                '</a>'+
                                '</div>'+
                                '<p>'+
                                '<a href="/webtoons/'+ newWebtoon[i].webtoonId + '">'+ newWebtoon[i].webtoonTitle+'</a>'+
                                '</p>'+
                                '</li>');
                            newWebtoons.appendTo($('#newWebtoon_list'));
                        }
                    },
                    error: function (err) {
                        console.log(err.toString());
                    }
                });

            </script>

    <hr>

    <!--인기웹툰 부분-->
    <section class="best_webtoons">
        <h3 class="main_webtoon">BEST WEBTOONS</h3>
        <ol class="row" id="bestWebtoon_list">
            <!--인기작 출력-->
        </ol>
    </section>

    <script>
        $.ajax({
            url:'/api/webtoons/bestWebtoons',
            method:'GET',
            async:true,
            ContentType: "application/json",
            success: function (bestWebtoon) {
                console.log("검색 성공");
                for(var i = 0; i < 3; i++) {
                    var bestWebtoons = $('<li>' +
                        '<div class="aspect_1_1">' +
                        '<a href="/webtoons/'+ bestWebtoon[i].id + '">' +
                        '<img src="http://shrkss.com/app/dubu_board/docs/imgs/e/lg_e15277300888118_%EC%9D%B4%EB%AF%B8%EC%A7%80_%EC%A4%80%EB%B9%84%EC%A4%912.jpg"' +
                        '</a>'+
                        '</div>'+
                        '<p>'+
                        '<a href="/webtoons/'+ bestWebtoon[i].id + '">'+ bestWebtoon[i].title+'</a>'+
                        '</p>'+
                        '</li>');
                    bestWebtoons.appendTo($('#bestWebtoon_list'));
                }
            },
            error: function (err) {
                console.log(err.toString());
            }
        });

    </script>
</article>

<script>
    window.onload = function() {
        var divs = document.querySelectorAll('li > div');
        for (var i = 0; i < divs.length; ++i) {
            var div = divs[i];
            var divAspect = div.offsetHeight / div.offsetWidth;
            div.style.overflow = 'hidden';

            var img = div.querySelector('img');
            var imgAspect = img.height / img.width;

            if (imgAspect <= divAspect) {
                // 이미지가 div보다 납작한 경우 세로를 div에 맞추고 가로는 잘라낸다
                var imgWidthActual = div.offsetHeight / imgAspect;
                var imgWidthToBe = div.offsetHeight / divAspect;
                var marginLeft = -Math.round((imgWidthActual - imgWidthToBe) / 2)
                img.style.cssText = 'width: auto; height: 100%; margin-left: '
                    + marginLeft + 'px;'
            } else {
                // 이미지가 div보다 길쭉한 경우 가로를 div에 맞추고 세로를 잘라낸다
                img.style.cssText = 'width: 100%; height: auto; margin-left: 0;';
            }
        }
    };
</script>

</body>
</html>